<nav>
    <div class="site-title">
      <a href="/"><h1>Expense tracker</h1></a>
      <p>Track you expenses instantly!</p>
    </div>
    <ul>
      <li><a href="/">All entries</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/entries/create">Create a new entry</a></li>
    </ul>
  </nav>
  