<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h3>This is an expense tracker web application which allows you to easily track your expenses with the name and amount of the expense.
        You can create and delete different entries.
    </h3>
</body>
</html>